<div class="login-body">
    <div class="login-panel"></div>

    <div class="login-content">
        <!-- <img src="assets/layout/images/logo-black.png" alt="babylon-layout"/> -->

        <h1><span>CONNEXION</span> A GPIA</h1>
        <!-- <p>Bienvenue, veuillez utiliser le formulaire pour vous connecter.</p> -->
        <div class="login-input-wrapper">
            <input type="text" autocomplete="off" placeholder="Username" pInputText>
            <i class="pi pi-user"></i>
        </div>
        <div class="login-input-wrapper">
            <input type="password" autocomplete="off" placeholder="Password" pInputText>
            <i class="pi pi-lock"></i>
        </div>
        <button [routerLink]="['/admin']"  pButton type="button" label="Connexion"></button>
    </div>
</div>
