<div class="grid">
    <div class="col-12">
        <div class="card px-6 py-6">
            <p-toast></p-toast>
            <p-toolbar styleClass="mb-4">
                <ng-template pTemplate="left">
                    <div class="my-2">
                        <button pButton pRipple label="Générer" icon="pi pi-plus" class="p-button-primary mr-2" (click)="openNew()"></button>
                    </div>
                </ng-template>

                <ng-template pTemplate="right">
                    <p-fileUpload mode="basic" accept="image/*" [maxFileSize]="1000000" label="Import" chooseLabel="Import" class="mr-2 inline-block"></p-fileUpload>
                    <button pButton pRipple label="Export" icon="pi pi-upload" class="p-button-help" (click)="dt.exportCSV()"></button>
                </ng-template>
            </p-toolbar>

            <p-table #dt [value]="factures" [columns]="cols" responsiveLayout="scroll" [rows]="10" [globalFilterFields]="['periode','country.name','representative.name','status']" [rows]="10" [paginator]="true" [rowsPerPageOptions]="[10,14,30]" [showCurrentPageReport]="true" currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" selectionMode="multiple" [rowHover]="true" dataKey="id">
                <ng-template pTemplate="caption">
                    <div class="flex flex-column md:flex-row md:justify-content-between md:align-items-center">
                        <h5 class="m-0">Liste des factures</h5>
                        <span class="block mt-2 md:mt-0 p-input-icon-left">
                            <i class="pi pi-search"></i>
                            <input pInputText type="text" (input)="onGlobalFilter(dt, $event)" placeholder="Search..."  class="w-full sm:w-auto"/>
                        </span>
                    </div>
                </ng-template>
                <ng-template pTemplate="header">
                    <tr>
                        <th pSortableColumn="code">Numéro <p-sortIcon field="code"></p-sortIcon></th>
                        <th pSortableColumn="name">Pa <p-sortIcon field="name"></p-sortIcon></th>
                        <th pSortableColumn="name">Date <p-sortIcon field="name"></p-sortIcon></th>
                        <th pSortableColumn="periode">Période <p-sortIcon field="periode"></p-sortIcon></th>
                        <th pSortableColumn="price">Quantité <p-sortIcon field="price"></p-sortIcon></th>
                        <th pSortableColumn="price">Prix <p-sortIcon field="price"></p-sortIcon></th>
                        <th pSortableColumn="price">Montant <p-sortIcon field="price"></p-sortIcon></th>
                        <!-- <th></th> -->
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-facture>
                    <tr>
                        <td style="width:14%; min-width:10rem;"><span class="p-column-title">Code</span>
                            {{facture.numero}}
                        </td>
                        <td style="width:20%; min-width:10rem;">
                            <span class="p-column-title">Name</span>
                            {{facture.pa}}
                        </td>
                        <td style="width:14%; min-width:10rem;">
                            <span class="p-column-title">Category</span>
                            {{facture.date | date:"dd-MM-yyyy"}}
                        </td>
                        <td style="width:14%; min-width:10rem;">
                            <span class="p-column-title">Category</span>
                            {{facture.periode}}
                        </td>
                        <td style="width:14%; min-width:10rem;">
                            <span class="p-column-title">Category</span>
                            {{facture.quantite}}
                        </td>
                        <td style="width:14%; min-width:10rem;">
                            <span class="p-column-title">Category</span>
                            {{facture.tarif}}
                        </td>
                        <td style="width:14%; min-width:10rem;">
                            <span class="p-column-title">Category</span>
                            {{facture.montant}}
                        </td>
                        <!-- <td>
                            <div class="flex">
                                <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-success mr-2" (click)="editProduct(product)"></button>
                                <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-warning" (click)="deleteSelected(facture.id)"></button>
                            </div>
                        </td> -->
                    </tr>
                </ng-template>
            </p-table>
        </div>

        <p-dialog [(visible)]="factureDialog" [style]="{width: '300px'}" header="Génération des factures " [modal]="true" class="p-fluid">
            <ng-template pTemplate="content">
                <form [formGroup]="factureForm">
                    <div class="formgrid grid">
                        <div class="field col">
                            <label for="periode">Periode</label>
                            <p-calendar
                            [showIcon]="true"
                            appendTo="body"
                            id="periode"
                            required
                            autofocus
                            placeholder="sélectionner une période"
                            dateFormat="mmyy"
                            view="month"
                            dataType="string"
                            formControlName="periode">
                        </p-calendar>
                        <small
                        class="p-error"
                        *ngIf="
                        factureForm.controls['periode'].dirty &&
                        factureForm.hasError('required', 'periode')
                        "
                        >* periode  obligatoire.</small>
                    </div>
                </div>
            </form>

        </ng-template>
        <ng-template pTemplate="footer">
            <button pButton pRipple label="Fermer" icon="pi pi-times" class="p-button-text" (click)="hideDialog()"></button>
            <button pButton pRipple label="Générer" icon="pi pi-check" class="p-button-text" (click)="save()"></button>
        </ng-template>
    </p-dialog>

    <p-dialog [(visible)]="deleteFactureDialog" header="Confirm" [modal]="true" [style]="{width:'450px'}">
        <div class="flex align-items-center justify-content-center">
            <i class="pi pi-exclamation-triangle mr-3" style="font-size: 2rem"></i>
            <span *ngIf="facture">Voulez-vous supprimer le prelevement <b>{{facture.numero}}</b>?</span>
        </div>
        <ng-template pTemplate="footer">
            <button pButton pRipple icon="pi pi-times" class="p-button-text" label="No" (click)="hideSelect()"></button>
            <button pButton pRipple icon="pi pi-check" class="p-button-text" label="Yes" (click)="delete(facture.id)"></button>
        </ng-template>
    </p-dialog>

</div>
</div>
