<div class="grid">
    <div class="col-12">
        <div class="card px-6 py-6">
            <p-toast></p-toast>
            <p-toolbar styleClass="mb-4">
                <ng-template pTemplate="left">
                    <div class="my-2">
                        <button pButton pRipple label="Nouveau" icon="pi pi-plus" class="p-button-primary mr-2" (click)="openNew()"></button>
                    </div>
                </ng-template>

                <ng-template pTemplate="right">
                    <p-fileUpload mode="basic" accept="image/*" [maxFileSize]="1000000" label="Import" chooseLabel="Import" class="mr-2 inline-block"></p-fileUpload>
                    <button pButton pRipple label="Export" icon="pi pi-upload" class="p-button-help" (click)="dt.exportCSV()"></button>
                </ng-template>
            </p-toolbar>

            <p-table #dt [value]="users" [columns]="cols" responsiveLayout="scroll" [rows]="10" [globalFilterFields]="['name','country.name','representative.name','status']" [rows]="10" [paginator]="true" [rowsPerPageOptions]="[10,14,30]" [showCurrentPageReport]="true" currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" selectionMode="multiple" [rowHover]="true" dataKey="id">
                <ng-template pTemplate="caption">
                    <div class="flex flex-column md:flex-row md:justify-content-between md:align-items-center">
                        <h5 class="m-0">Liste d'utilisateurs</h5>
                        <span class="block mt-2 md:mt-0 p-input-icon-left">
                            <i class="pi pi-search"></i>
                            <input pInputText type="text" (input)="onGlobalFilter(dt, $event)" placeholder="Search..."  class="w-full sm:w-auto"/>
                        </span>
                    </div>
                </ng-template>
                <ng-template pTemplate="header">
                    <tr>
                        <th pSortableColumn="code"># <p-sortIcon field="code"></p-sortIcon></th>
                        <th pSortableColumn="name">Nom <p-sortIcon field="name"></p-sortIcon></th>
                        <th pSortableColumn="name">Postnom <p-sortIcon field="name"></p-sortIcon></th>
                        <th pSortableColumn="price">Rôle <p-sortIcon field="price"></p-sortIcon></th>
                        <th pSortableColumn="price">Utilisateur <p-sortIcon field="price"></p-sortIcon></th>
                        <th pSortableColumn="price">E-mail <p-sortIcon field="price"></p-sortIcon></th>
                        <th pSortableColumn="price">Téléphone <p-sortIcon field="price"></p-sortIcon></th>
                        <th >Activer</th>
                        <th></th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-user let-i="rowIndex">
                    <tr>
                        <td style="width:14%; min-width:10rem;"><span class="p-column-title">Code</span>
                            {{user.id}}
                        </td>
                        <td style="width:20%; min-width:10rem;">
                            <span class="p-column-title">Name</span>
                            {{user.nom}}
                        </td>
                        <td style="width:14%; min-width:10rem;">
                            <span class="p-column-title">Category</span>
                            {{user.postnom}}
                        </td>
                        <td style="width:14%; min-width:10rem;">
                            <span class="p-column-title">Category</span>
                            {{user.role}}
                        </td>
                        <td style="width:14%; min-width:10rem;">
                            <span class="p-column-title">Category</span>
                            {{user.user}}
                        </td>
                        <td style="width:14%; min-width:10rem;">
                            <span class="p-column-title">Category</span>
                            {{user.mail}}
                        </td>
                        <td style="width:14%; min-width:10rem;">
                            <span class="p-column-title">Category</span>
                            {{user.contact}}
                        </td>
                        <td>
                            <p-checkbox
                            [binary]="true"
                            [(ngModel)]="users[i].active"
                            inputId="binary"
                            (onChange)="active($event,i)">
                        </p-checkbox></td>
                        <td>
                            <div class="flex">
                                <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-success mr-2" (click)=" find(user.id)"></button>
                                <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-warning" (click)=" confirmDelete(user.id)"></button>
                            </div>
                        </td>
                    </tr>
                </ng-template>
            </p-table>
        </div>

        <p-dialog [(visible)]="userDialog" [style]="{width: '450px'}" header="Détails Utilisateur " [modal]="true" class="p-fluid">
            <ng-template pTemplate="content">
                <form [formGroup]="userForm">
                    <div class="formgrid grid">
                        <div class="field col">
                            <label for="nom">Nom</label>
                            <input type="text"
                            pInputText id="nom"
                            placeholder="nom"
                            required
                            autofocus
                            formControlName="nom"
                            />
                            <small
                            class="p-error"
                            *ngIf="
                            userForm.controls['nom'].dirty &&
                            userForm.hasError('required', 'nom')
                            "
                            >* nom obligatoire.</small
                            >
                        </div>
                        <div class="field col">
                            <label for="quantity">Postnom</label>
                            <input type="text"
                            pInputText id="postnom"
                            placeholder="postnom"
                            required autofocus
                            formControlName="postnom"
                            />
                            <small
                            class="p-error"
                            *ngIf="
                            userForm.controls['postnom'].dirty &&
                            userForm.hasError('required', 'postnom')
                            "
                            >* postnom obligatoire.</small
                            >
                        </div>
                    </div>


                    <div class="formgrid grid">
                        <div class="field col">
                            <label for="name">E-mail</label>
                            <input type="email"
                            pInputText id="mail"
                            placeholder="mail"
                            required autofocus
                            formControlName="mail"
                            />
                            <small
                            class="p-error"
                            *ngIf="
                            userForm.controls['mail'].dirty &&
                            userForm.hasError('required', 'mail')
                            "
                            >* mail obligatoire.</small
                            >
                        </div>

                        <div class="field col">
                            <label for="quantity">Téléphone</label>
                            <input type="text"
                            pInputText id="contact"
                            placeholder="contact"
                            required autofocus
                            formControlName="contact"
                            />
                            <small
                            class="p-error"
                            *ngIf="
                            userForm.controls['contact'].dirty &&
                            userForm.hasError('required', 'contact')
                            "
                            >* contact obligatoire.</small
                            >
                        </div>
                    </div>

                    <div class="formgrid grid">
                        <div class="field col">
                            <label for="name">Utilisateur</label>
                            <input type="text"
                            pInputText id="user"
                            placeholder="user"
                            required autofocus
                            formControlName="user"
                            />
                            <small
                            class="p-error"
                            *ngIf="
                            userForm.controls['user'].dirty &&
                            userForm.hasError('required', 'user')
                            "
                            >* utilisateur obligatoire.</small
                            >
                        </div>
                        <div class="field col">
                            <label for="quantity">Rôle</label>
                            <p-dropdown [options]="roles"
                            placeholder="Select role"
                            [showClear]="true"
                            appendTo="body"
                            name="role"
                            formControlName="role"
                            required autofocus
                            ></p-dropdown>
                            <small
                            class="p-error"
                            *ngIf="
                            userForm.controls['role'].dirty &&
                            userForm.hasError('required', 'role')
                            "
                            >* role obligatoire.</small
                            >
                        </div>
                    </div>
                </form>
            </ng-template>
            <ng-template pTemplate="footer">
                <button pButton pRipple label="Fermer"
                icon="pi pi-times"
                class="p-button-text"
                (click)="hideDialog()"></button>
                <button pButton pRipple
                label="Enregistrer"
                icon="pi pi-check"
                class="p-button-text"
                (click)="save()"></button>
            </ng-template>
        </p-dialog>

        <p-dialog [(visible)]="deleteUserDialog" header="Confirm" [modal]="true" [style]="{width:'450px'}">
            <div class="flex align-items-center justify-content-center">
                <i class="pi pi-exclamation-triangle mr-3" style="font-size: 2rem"></i>
                <span *ngIf="user">Etes-vous sûr de vouloir supprimer <b>{{user.nom}}</b>?</span>
            </div>
            <ng-template pTemplate="footer">
                <button pButton pRipple icon="pi pi-times" class="p-button-text" label="No" (click)="deleteUserDialog = false"></button>
                <button pButton pRipple icon="pi pi-check" class="p-button-text" label="Yes" (click)="delete(user.id)"></button>
            </ng-template>
        </p-dialog>


    </div>
</div>
