<div class="grid">
    <div class="col-12">
        <div class="card px-6 py-6">
            <p-toast></p-toast>
            <p-toolbar styleClass="mb-4">
                <ng-template pTemplate="left">
                    <div class="my-2">
                        <button pButton
                        pRipple label="Nouveau"
                        icon="pi pi-plus"
                        class="p-button-primary mr-2"
                        (click)="openNew()"></button>
                    </div>
                </ng-template>

                <ng-template pTemplate="right">
                    <p-fileUpload mode="basic" accept="image/*" [maxFileSize]="1000000" label="Import" chooseLabel="Import" class="mr-2 inline-block"></p-fileUpload>
                    <button pButton pRipple label="Export" icon="pi pi-upload" class="p-button-help" (click)="dt.exportCSV()"></button>
                </ng-template>
            </p-toolbar>

            <p-table #dt [value]="abonnes" [columns]="cols" responsiveLayout="scroll" [rows]="10" [globalFilterFields]="['name','country.name','representative.name','status']" [rows]="10" [paginator]="true" [rowsPerPageOptions]="[10,14,30]" [showCurrentPageReport]="true" currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" selectionMode="multiple" [rowHover]="true" dataKey="id">
                <ng-template pTemplate="caption">
                    <div class="flex flex-column md:flex-row md:justify-content-between md:align-items-center">
                        <h5 class="m-0">Liste d'abonnés</h5>
                        <span class="block mt-2 md:mt-0 p-input-icon-left">
                            <i class="pi pi-search"></i>
                            <input pInputText type="text" (input)="onGlobalFilter(dt, $event)" placeholder="Search..."  class="w-full sm:w-auto"/>
                        </span>
                    </div>
                </ng-template>
                <ng-template pTemplate="header">
                    <tr>
                        <th pSortableColumn="id"># <p-sortIcon field="id  "></p-sortIcon></th>
                        <th pSortableColumn="nom">Nom <p-sortIcon field="nom"></p-sortIcon></th>
                        <th pSortableColumn="postnom">Postnom <p-sortIcon field="postnom"></p-sortIcon></th>
                        <th pSortableColumn="prenom">Prenom <p-sortIcon field="prenom"></p-sortIcon></th>
                        <th pSortableColumn="sexe">Sexe <p-sortIcon field="sexe"></p-sortIcon></th>
                        <th pSortableColumn="contact">Contact <p-sortIcon field="contact"></p-sortIcon></th>
                        <th pSortableColumn="compteurId">Compteur <p-sortIcon field="compteurId"></p-sortIcon></th>
                        <th pSortableColumn="compteurId">Type <p-sortIcon field="compteurId"></p-sortIcon></th>
                        <th pSortableColumn="compteurId">Pa <p-sortIcon field="compteurId"></p-sortIcon></th>
                        <th pSortableColumn="avenue">Avenue <p-sortIcon field="avenue"></p-sortIcon></th>
                        <th pSortableColumn="mail">Mail <p-sortIcon field="mail"></p-sortIcon></th>
                        <th></th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-abonne>
                    <tr>
                        <td style="width:5%; min-width:5rem;"><span class="p-column-title">#</span>
                            {{abonne.id}}
                        </td>
                        <td style="width:14%; min-width:10rem;">
                            <span class="p-column-title">Nom</span>
                            {{abonne.nom}}
                        </td>
                        <td style="width:14%; min-width:10rem;">
                            <span class="p-column-title">Postnom</span>
                            {{abonne.postnom}}
                        </td>
                        <td style="width:14%; min-width:10rem;">
                            <span class="p-column-title">Prenom</span>
                            {{abonne.prenom}}
                        </td>
                        <td style="width:14%; min-width:10rem;">
                            <span class="p-column-title">Sexe</span>
                            {{abonne.sexe}}
                        </td>
                        <td style="width:14%; min-width:10rem;">
                            <span class="p-column-title">Contact</span>
                            {{abonne.contact}}
                        </td>
                        <td style="width:14%; min-width:10rem;">
                            <span class="p-column-title">Adresse</span>
                            {{abonne.compteur}}
                        </td>
                        <td style="width:14%; min-width:10rem;">
                            <span class="p-column-title">Compteur</span>
                            {{abonne.typeClient}}
                        </td>
                        <td style="width:14%; min-width:10rem;">
                            <span class="p-column-title">Avenue</span>
                            {{abonne.pa}}
                        </td>
                        <td style="width:14%; min-width:10rem;">
                            <span class="p-column-title">Avenue</span>
                            {{abonne.rue}}
                        </td>
                        <td style="width:14%; min-width:10rem;">
                            <span class="p-column-title">Mail</span>
                            {{abonne.mail}}
                        </td>
                        <td>
                            <div class="flex">
                                <button pButton pRipple
                                icon="pi pi-pencil"
                                class="p-button-rounded p-button-success mr-2"
                                (click)="find(abonne.id)">
                            </button>
                            <button pButton pRipple
                            icon="pi pi-trash"
                            class="p-button-rounded p-button-warning"
                            (click)="deleteSelected(abonne.id)">
                        </button>
                    </div>
                </td>
            </tr>
        </ng-template>
    </p-table>
</div>

<p-dialog [(visible)]="abonneDialog" [style]="{width: '450px'}" header="Détails Abonné " [modal]="true" class="p-fluid">
    <ng-template pTemplate="content">
        <form [formGroup]="abonneForm">
            
            <div class="formgrid grid">
                <div class="field col">
                    <label for="rueId">Avenue</label>
                    <p-dropdown [options]="rues"
                    optionLabel="libelle"
                    [autoDisplayFirst]="true"
                    [filter]="true"
                    filterBy="libelle"
                    [showClear]="true"
                    placeholder="avenue"
                    [showClear]="true"
                    appendTo="body"
                    id="rueId"
                    formControlName="rueId"
                    >
                </p-dropdown>
                <small
                class="p-error"
                *ngIf="
                abonneForm.controls['rueId'].dirty &&
                abonneForm.hasError('required', 'rueId')
                ">* avenue obligatoire.
            </small>
        </div>

        <div class="field col">
            <label for="compteurId">Compteur</label>
            <p-dropdown [options]="compteurs"
            optionLabel="numero"
            [filter]="true"
            filterBy="libelle"
            [showClear]="true"
            [autoDisplayFirst]="true"
            placeholder="compteur"
            [showClear]="true"
            appendTo="body"
            formControlName="compteurId"
            id="compteurId"
            ></p-dropdown>
            <small
            class="p-error"
            *ngIf="
            abonneForm.controls['compteurId'].dirty &&
            abonneForm.hasError('required', 'compteurId')
            ">* compteur obligatoire.
        </small>
    </div>

</div>
<div class="formgrid grid">
    <div class="field col">
        <label for="compteurId">Type</label>
        <p-dropdown [options]="types"
        optionLabel="libelle"
        placeholder="type"
        [autoDisplayFirst]="true"
        [filter]="true"
        filterBy="libelle"
        [showClear]="true"
        appendTo="body"
        id="typeClientId"
        required
        autofocus
        formControlName="typeClientId"
        ></p-dropdown>
        <small
        class="p-error"
        *ngIf="
        abonneForm.controls['typeClientId'].dirty &&
        abonneForm.hasError('required', 'typeClientId')
        ">* type obligatoire.
    </small>
</div>
<div class="field col">
    <label for="mail">Police d'abonnement</label>
    <input type="text"
    pInputText id="pa"
    placeholder="pa"
    required autofocus
    formControlName="pa"
    />
    <small
    class="p-error"
    *ngIf="
    abonneForm.controls['pa'].dirty &&
    abonneForm.hasError('required', 'pa')
    ">* pa obligatoire.
</small>
</div>
</div>
<div class="formgrid grid">
    <div class="field col">
        <label for="nom">Nom</label>
        <input type="text"
        pInputText id="nom"
        formControlName="nom"
        placeholder="nom"
        required
        autofocus
        />
        <small
        class="p-error"
        *ngIf="
        abonneForm.controls['nom'].dirty &&
        abonneForm.hasError('required', 'nom')
        ">* nom obligatoire.
    </small>
</div>
<div class="field col">
    <label for="postnom">Postnom</label>
    <input type="text" pInputText
    id="postnom"
    formControlName="postnom"
    required autofocus
    placeholder="postnom"
    />
    <small
    class="p-error"
    *ngIf="
    abonneForm.controls['postnom'].dirty &&
    abonneForm.hasError('required', 'postnom')
    ">* postnom obligatoire.
</small>
</div>
</div>
<div class="formgrid grid">
    <div class="field col">
        <label for="prenom">Prénom</label>
        <input type="text" pInputText
        id="prenom"
        formControlName="prenom"
        placeholder="prenom"
        required
        autofocus
        />
        <small
        class="p-error"
        *ngIf="
        abonneForm.controls['prenom'].dirty &&
        abonneForm.hasError('required', 'prenom')
        ">* prenom obligatoire.
    </small>
</div>
<div class="field col">
    <label for="contact">Contact</label>
    <input type="text" pInputText
    id="contact"
    formControlName="contact"
    placeholder="contact"
    required autofocus
    />
    <small
    class="p-error"
    *ngIf="
    abonneForm.controls['contact'].dirty &&
    abonneForm.hasError('required', 'contact')
    ">* prenom obligatoire.
</small>
</div>
</div>
<div class="formgrid grid">
    <div class="field col">
        <label for="compteurId">Sexe</label>
        <p-dropdown
        [options]="sexes"
        formControlName=sexe
        optionLabel="libelle"
        placeholder="genre"
        [showClear]="true"
        appendTo="body">
    </p-dropdown>
    <small
    class="p-error"
    *ngIf="
    abonneForm.controls['sexe'].dirty &&
    abonneForm.hasError('required', 'sexe')
    ">* sexe obligatoire.
</small>
</div>
<div class="field col">
    <label for="avenue">E-Mail</label>
    <input type="mail"
    pInputText id="avenue"
    formControlName="mail"
    placeholder="mail"
    required autofocus/>
    <small
    class="p-error"
    *ngIf="
    abonneForm.controls['mail'].dirty &&
    abonneForm.hasError('required', 'mail')
    ">* format de mail invalid.
</small>
</div>
</div>
</form>
</ng-template>

<ng-template pTemplate="footer">
    <button pButton
    pRipple label="Fermer"
    icon="pi pi-times"
    class="p-button-text"
    (click)="hideDialog()"></button>
    <button pButton pRipple
    label="Enregistrer"
    icon="pi pi-check"
    class="p-button-text"
    (click)="save()"></button>
</ng-template>
</p-dialog>

<p-dialog [(visible)]="deleteAbonneDialog" header="Confirm" [modal]="true" [style]="{width:'450px'}">
    <div class="flex align-items-center justify-content-center">
        <i class="pi pi-exclamation-triangle mr-3" style="font-size: 2rem"></i>
        <span *ngIf="abonne">Etes-vous sûr de vouloir supprimer <b>{{abonne.nom}}</b> ?</span>
    </div>
    <ng-template pTemplate="footer">
        <button pButton pRipple icon="pi pi-times" class="p-button-text" label="Non" (click)="hideSelect()"></button>
        <button pButton pRipple icon="pi pi-check" class="p-button-text" label="Oui" (click)="delete(abonne.id)"></button>
    </ng-template>
</p-dialog>
</div>
</div>
